name: SQL Chronicler CI
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: curium-rocks/actions/validate-node@main
      with:
        node_version: 16.x
        github_token: ${{ secrets.GITHUB_TOKEN }}
        sonarqube_token: ${{ secrets.SONARQUBE_KEY }}